[Unit]
Description=Service for m3u-editor
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ m3u_editor_app_directory }}
ExecStart={{ docker_compose_binary }} up -d
ExecStop={{ docker_compose_binary }} stop
ExecReload={{ docker_compose_binary }} restart

[Install]
WantedBy=multi-user.target
