version: '3.2'

services:
  {{ postgres_service_name }}:
    image: {{ postgres_image_tag }}
    container_name: {{ postgres_service_name }}
    ports:
      - "{{ postgres_port }}:5432/tcp"
    environment:
      - POSTGRES_PASSWORD={{ postgres_admin_password }}
      - POSTGRES_USER={{ postgres_admin_user }}
    volumes:
      - "pg_db:/var/lib/postgresql/data"

volumes:
  pg_db:
