version: '3.2'                                                                                                       
                                                                                                                     
services:                                                                                                            
  reverse-proxy:                                                                                                     
    image: traefik:v1.7.12-alpine # The official Traefik docker image                                                
    command: --api --docker # Enables the web UI and tells Traefik to listen to docker                               
    ports:                                                                                                           
      - "80:80"     # The HTTP port                                                                                  
      - "443:443"                                                                                                    
    environment:                                                                                                     
      - CF_API_EMAIL=${CLOUDFLARE_API_EMAIL}                                                                         
      - CF_API_KEY=${CLOUDFLARE_API_KEY}                                                                             
    volumes:                                                                                                         
      - /var/run/docker.sock:/var/run/docker.sock # So that Traefik can listen to the Docker events                  
      - $PWD/acme.json:/acme.json                                                                                    
      - $PWD/traefik.toml:/traefik.toml                                                                              
      - $PWD/servers.toml:/servers.toml                                                                              
    labels:                                                                                                          
      traefik.frontend.rule: "Host:traefik.home.smurfpandey.me"                                                      
      traefik.port: "8080"                                                                                           
    restart: on-failure                                                                                              
    container_name: traefik                                                                                          
                                                                                                                     
  portainer:                                                                                                         
    image: portainer/portainer:linux-arm-1.21.0                                                                      
    container_name: portainer                                                                                        
    restart: on-failure                                                                                              
    volumes:                                                                                                         
      - /var/run/docker.sock:/var/run/docker.sock                                                                    
      - $PWD/portainer:/data                                                                                         
    labels:                                                                                                          
      traefik.frontend.rule: "Host:portainer.home.smurfpandey.me"                                                    
      traefik.port: "9000"                                                                                           
                                                                                                                     
  firefly_iii_app:                                                                                                   
    environment:                                                                                                     
      - FF_DB_HOST=firefly_iii_db                                                                                    
      - FF_DB_NAME=firefly                                                                                           
      - FF_DB_USER=firefly                                                                                           
      - FF_DB_PASSWORD=firefly                                                                                       
      - FF_APP_KEY=${FIREFLY_APP_KEY}                                                                  
      - FF_APP_ENV=local                                                                                             
      - FF_DB_CONNECTION=pgsql                                                                                       
      - TZ=Asia/Kolkata                                                                                              
      - APP_LOG_LEVEL=debug                                                                                          
      - APP_DEBUG=true                                                                                               
      - APP_URL=https://firefly.home.smurfpandey.me                                                                  
      - TRUSTED_PROXIES=**                                                                                           
    image: jc5x/firefly-iii:release-4.7.17-arm                                                                       
    links:                                                                                                           
      - firefly_iii_db                                                                                               
    labels:                                                                                                          
      traefik.frontend.rule: "Host:firefly.home.smurfpandey.me"                                                      
      traefik.port: "80"                                                                                             
    volumes:                                                                                                         
      -                                                                                                              
        source: firefly_iii_export                                                                                   
        target: /var/www/firefly-iii/storage/export                                                                  
        type: volume                                                                                                 
      -                                                                                                              
        source: firefly_iii_upload                                                                                   
        target: /var/www/firefly-iii/storage/upload                                                                  
        type: volume                                                                                                 
    container_name: firefly_iii                                                                                      
  firefly_iii_db:                                                                                                    
    environment:                                                                                                     
      - POSTGRES_PASSWORD=firefly                                                                                    
      - POSTGRES_USER=firefly                                                                                        
    image: "postgres:10"                                                                                             
    volumes:                                                                                                         
      - "firefly_iii_db:/var/lib/postgresql/data"                                                                    
                                                                                                                     
  heimdall:                                                                                                          
    image: linuxserver/heimdall                                                                                      
    container_name: heimdall                                                                                         
    labels:                                                                                                          
      traefik.frontend.rule: "Host:home.smurfpandey.me"                                                              
    volumes:                                                                                                         
      - $PWD/heimdall:/config                                                                                        
                                                                                                                     
volumes:                                                                                                             
  firefly_iii_db:                                                                                                    
  firefly_iii_export:                                                                                                
  firefly_iii_upload:                                                                                                
                                                                                                                     
networks:                                                                                                            
    default:                                                                                                         
        external:                                                                                                    
            name: proxy                                                                                              
