version: '3.2'

services:
  {{ transmission_service_name }}:
    image: {{ transmission_image_name }}:{{ transmission_image_tag }}
    container_name: {{ transmission_service_name }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.transmission.rule=Host(`transmission.{{ main_domain_name }}`)"
      - "traefik.http.routers.transmission.entryPoints=websecure"
      - "traefik.http.routers.transmission.tls=true"
      - "traefik.http.routers.transmission.tls.certresolver={{ traefik_certresolver_name }}"
      - "traefik.http.services.transmission.loadbalancer.server.port=9091"
    ports:
      - "51413:51413/tcp"
      - "51413:51413/udp"
    logging:
      driver: json-file
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ transmission_data_directory }}:/config
      - {{ transmission_hdd_download_root }}:{{ transmission_container_download_root }}
    networks:
      - {{ traefik_network_name }}

networks:
  {{ traefik_network_name }}:
    external: true
