version: '3.2'

services:
  {{ sure_service_name }}:
    image: {{ sure_image_tag }}
    container_name: {{ sure_service_name }}    
    logging:
      driver: json-file
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sure.rule=Host(`finance.{{ main_domain_name }}`)"
      - "traefik.http.routers.sure.entryPoints=websecure"
      - "traefik.http.routers.sure.tls=true"
      - "traefik.http.routers.sure.tls.certresolver={{ traefik_certresolver_name }}"
      - "traefik.http.services.sure.loadbalancer.server.port=3000"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ='UTC'
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD={{ sure_db_password }}
      - POSTGRES_DB=railway
      - DB_HOST={{ sure_db_host }}
      - DB_PORT=29260
    volumes:
      - {{ sure_data_directory }}/upload:/var/www/html/storage/upload
    networks:
      - {{ traefik_network_name }}

networks:
  {{ traefik_network_name }}:
    external: true
