x-db-env: &db_env
  POSTGRES_USER: {{ sure_db_user }}
  POSTGRES_PASSWORD: {{ sure_db_password }}
  POSTGRES_DB: {{ sure_db_name }}

x-rails-env: &rails_env
  <<: *db_env
  SECRET_KEY_BASE: {{ sure_app_secret_base }}
  SELF_HOSTED: "true"
  RAILS_FORCE_SSL: "true"
  RAILS_ASSUME_SSL: "true"
  DB_HOST: {{ postgres_host }}
  DB_PORT: {{ postgres_port }}
  REDIS_URL: {{ sure_redis_url }}
  SKYLIGHT_AUTHENTICATION: {{ sure_app_skylight_token }}
  SENTRY_DSN: {{ sure_sentry_dsn }}

services:
  web:
    image: {{ sure_image_tag }}
    container_name: {{ sure_service_name }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sure.rule=Host(`finance.{{ main_domain_name }}`)"
      - "traefik.http.routers.sure.entryPoints=websecure"
      - "traefik.http.routers.sure.tls=true"
      - "traefik.http.routers.sure.tls.certresolver={{ traefik_certresolver_name }}"
      - "traefik.http.services.sure.loadbalancer.server.port=3000"
    volumes:
      - {{ sure_data_directory }}:/rails/storage
    restart: unless-stopped
    environment:
      <<: *rails_env
    networks:
      - {{ traefik_network_name }}

  worker:
    image: {{ sure_image_tag }}
    container_name: {{ sure_service_name }}-worker
    command: bundle exec sidekiq
    volumes:
      - {{ sure_data_directory }}:/rails/storage
    restart: unless-stopped
    environment:
      <<: *rails_env
    networks:
      - {{ traefik_network_name }}

networks:
  {{ traefik_network_name }}:
    external: true
