version: '3.2'

services:
  {{ bazarr_service_name }}:
    image: {{ bazarr_image_tag }}
    container_name: {{ bazarr_service_name }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bazarr.rule=Host(`bazarr.{{ main_domain_name }}`)"
      - "traefik.http.routers.bazarr.entryPoints=websecure"
      - "traefik.http.routers.bazarr.tls=true"
      - "traefik.http.routers.bazarr.tls.certresolver={{ traefik_certresolver_name }}"
      - "traefik.http.services.bazarr.loadbalancer.server.port=6767"
    logging:
      driver: json-file
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Dublin
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ bazarr_data_directory }}:/config
      - /mnt/mediahub/data/media/movies:/movies
      - /mnt/mediahub/data/media/series:/tv
    networks:
      - {{ traefik_network_name }}

networks:
  {{ traefik_network_name }}:
    external: true
