[Unit]
Description=Service for jackett

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ jackett_app_directory }}
ExecStart={{ docker_compose_binary }} up -d
ExecStop={{ docker_compose_binary }} stop
ExecReload={{ docker_compose_binary }} restart

[Install]
WantedBy=multi-user.target
