---

- name: Create app directory
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ postgres_app_directory }}"
    - "{{ postgres_scripts_directory }}"
    - "{{ postgres_backup_directory }}"

- name: Pull required images from docker hub
  docker_image:
    name: "{{ item }}"
    source: pull
  with_items:
    - "{{ postgres_image_tag }}"

- name: Create docker-compose.yml
  template:
    src: docker-compose.yml.j2
    dest: "{{ postgres_app_directory }}/docker-compose.yml"
  notify: restart postgres

- name: Create app service file
  template:
    src: postgres.service.j2
    dest: "{{ postgres_app_directory }}/postgres.service"
  notify: reload systemd

- name: Install app service
  file:
    src: "{{ postgres_app_directory }}/postgres.service"
    dest: /etc/systemd/system/postgres.service
    state: link

- name: ensure app starts on a fresh reboot
  service:
    name: postgres
    state: started
    enabled: yes

# Setup backup service
- name: Create backup service
  template:
    src: database-backup.py.j2
    dest: "{{ postgres_scripts_directory }}/database-backup.py"
    mode: 'a+x'

- name: Create cronjob for daily execution
  cron:
    name: Start postgres backup service
    cron_file: homelab-postgres-backup
    minute: "30"
    hour: "00"
    user: "{{ ansible_user }}"
    job: "{{ postgres_scripts_directory }}/database-backup.py"

# Setup various scripts
- name: Copy create-db script
  template:
    src: create-database.sh.j2
    dest: "{{ postgres_scripts_directory }}/create-database.sh"
    mode: 'a+x'
