---

- name: Create app directory in /opt/jobs
  file:
    path: "{{ jellyfin_app_directory }}"
    state: directory

- name: Pull required images from docker hub
  docker_image:
    name: "{{ jellyfin_image_name }}:{{ jellyfin_image_tag }}"
    source: pull

- name: Create docker-compose.yml
  template:
    src: docker-compose.yml.j2
    dest: "{{ jellyfin_app_directory }}/docker-compose.yml"
  notify: restart jellyfin

- name: Create app service file
  template:
    src: "{{ jellyfin_service_name }}.service.j2"
    dest: "{{ jellyfin_app_directory }}/{{ jellyfin_service_name }}.service"
  notify: reload systemd
  
- name: Install app service
  file:
    src: "{{ jellyfin_app_directory }}/{{ jellyfin_service_name }}.service"
    dest: /etc/systemd/system/{{ jellyfin_service_name }}.service
    state: link

- name: ensure app starts on a fresh reboot
  service:
    name: "{{ jellyfin_service_name }}"
    state: started
    enabled: yes
