---

- name: reload systemd
  systemd:
    daemon_reload: yes

- name: restart influxdb
  service:
    name: influxdb
    state: restarted

- name: restart grafana
  service:
    name: grafana
    state: restarted

- name: restart netdata
  service:
    name: netdata
    state: restarted

- name: restart postgres
  service:
    name: postgres
    state: restarted
