---

nrinfragent_os_name: "{{ ansible_os_family }}"
nrinfragent_os_version: "{{ ansible_lsb.major_release }}"
nrinfragent_os_codename: "{{ ansible_lsb.codename }}"
nrinfragent_architecture: "{{ {'x86_64': 'amd64', 'i386': '386', 'armv7l': 'arm'}[ansible_architecture] | default(ansible_architecture) }}"
nrinfragent_state: "latest"
nrinfragent_service_enabled: "yes"
nrinfragent_service_state: "started"
nrinfragent_config:
  license_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          38646334613734373939323533393332613634656365386435386161626136376132636663353339
          3534393533646337326665373935343234363634636266370a656435616338373930616464636536
          38353138376266366366613062326534323430623866313030623966666466643830373137393062
          3036633134313861610a623632663564653930656635363766333838386637336336316437373762
          63646236396634383034613763303263383930653337316364333239646331653232343463323834
          6135393734613132616366646365613936333730356263393135
nrinfragent_tarball_version: "1.12.7"
nrinfragent_integrations: []
nrinfragent_tarball_url: "http://download.newrelic.com/infrastructure_agent/binaries/linux/{{ nrinfragent_architecture }}/newrelic-infra_linux_{{ nrinfragent_tarball_version }}_{{ nrinfragent_architecture }}.tar.gz"
nrinfragent_tarball_download_dir: "/opt"
nrinfragent_tarball_user: "root"