---

- name: Deploy wireguard docker way
  ansible.builtin.include_role:
    name: generic-deploy-docker-app
  vars:
    app_name: "{{ wireguard_service_name }}"
    app_directory: "{{ wireguard_app_directory }}"
    app_directories:
      - "{{ wireguard_app_directory }}"
      - "{{ wireguard_data_directory }}"
      - "{{ wireguard_config_directory }}"
      - "{{ wireguard_config_directory }}/wg_confs"
    app_config_files: []
    app_docker_images:
      - "{{ wireguard_image_tag }}"

- name: "copy client config file"
  template:
    src: "pi3b.conf"
    dest: "{{ wireguard_config_directory }}/wg_confs/do1.conf"
