---

- name: Do the generic stuff
  ansible.builtin.include_role:
    name: generic-deploy-docker-app
  vars:
    app_name: "{{ wireguard_service_name }}"
    app_directory: "{{ wireguard_app_directory }}"
    app_directories:
      - "{{ wireguard_app_directory }}"
      - "{{ wireguard_config_directory }}"
    app_config_files: []
    app_docker_images:
      - "{{ wireguard_image_tag }}"
