---

- name: Do the generic stuff
  ansible.builtin.include_role:
    name: generic-deploy-docker-app
  vars:
    app_name: 'frpc'
    app_directory: '/opt/frpc'
    app_directories:
      - "{{ app_directory }}"
    app_config_files:
      - { src: '', dest: '' }
      
