version: '3.2'

services:
  {{ sonarr_service_name }}:
    image: {{ sonarr_image_name }}:{{ sonarr_image_tag }}
    container_name: {{ sonarr_service_name }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.{{ main_domain_name }}`)"
      - "traefik.http.routers.sonarr.entryPoints=websecure"
      - "traefik.http.routers.sonarr.tls=true"
      - "traefik.http.routers.sonarr.tls.certresolver={{ traefik_certresolver_name }}"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
    logging:
      driver: json-file
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/mediahub/apps/sonarr:/config
      - /mnt/mediahub/data:/data
    networks:
      - {{ traefik_network_name }}

networks:
  {{ traefik_network_name }}:
    external: true
