---

- name: Install dependencies
  apt:
    pkg:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    install_recommends: no

- name: Add Docker apt key
  apt_key:
    url: https://download.docker.com/linux/{{ ansible_distribution|lower }}/gpg
    id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
    state: present

- name: Add docker apt repository
  apt_repository:
    repo: deb [arch={{ docker_architecture }}] https://download.docker.com/linux/{{ ansible_distribution|lower }} {{ ansible_distribution_release }} stable
    state: present
    filename: docker
  register: docker_repo

- name: Update apt repository
  apt:
    update_cache: true
  when: docker_repo.changed

- name: Install Docker apt package
  apt:
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: present
    install_recommends: no

- name: Create docker-daemon.json
  template:
    src: "daemon.json"
    dest: "{{ docker_daemon_config_path }}"

- name: Install python package to working with native anisble modules
  pip:
    name: docker

- name: add current user to docker group
  user:
    name: "{{ ansible_user }}"
    groups:
      - docker
    append: yes
