---

- name: Add Docker apt key
  apt_key:
    url: https://download.docker.com/linux/{{ ansible_distribution|lower }}/gpg
    id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
    state: present

- name: Add docker apt repository
  apt_repository:
    repo: deb [arch={{ docker_architecture }}] https://download.docker.com/linux/{{ ansible_distribution|lower }} {{ ansible_distribution_release }} stable
    state: present
    filename: docker
  register: docker_repo

- name: Update apt repository
  apt:
    update_cache: true
  when: docker_repo.changed

- name: Create docker-daemon.json
  template:
    src: "daemon.json"
    dest: "{{ docker_daemon_config_path }}"

- name: Install Docker apt package
  apt:
    pkg: docker-ce
    state: present
    install_recommends: no

- name: Install python package to working with native anisble modules
  pip:
    name: docker

- name: Install Docker Compose
  pip:
    name: docker-compose

- name: add current user to docker group
  user:
    name: "{{ ansible_user }}"
    groups:
      - docker
    append: yes
