---

- name: Create app directory
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ flame_app_directory }}"
    - "{{ flame_data_directory }}"

- name: Pull required images from docker hub
  docker_image:
    name: "{{ flame_image_name }}:{{ flame_image_tag }}"
    source: pull

- name: Create docker-compose.yml
  template:
    src: docker-compose.yml.j2
    dest: "{{ flame_app_directory }}/docker-compose.yml"

- name: Create app service file
  template:
    src: "{{ flame_service_name }}.service.j2"
    dest: "{{ flame_app_directory }}/{{ flame_service_name }}.service"
  notify: reload systemd
  
- name: Install app service
  file:
    src: "{{ flame_app_directory }}/{{ flame_service_name }}.service"
    dest: /etc/systemd/system/{{ flame_service_name }}.service
    state: link

- name: ensure app starts on a fresh reboot
  service:
    name: "{{ flame_service_name }}"
    state: started
    enabled: yes
