name: "Home Lab Deploy"

on:
  workflow_dispatch:

jobs:
  terraform_validate:
    name: "Validate Terraform"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - uses: terraform-linters/setup-tflint@v1
        name: Setup TFLint

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Ensure formatting
        run: terraform fmt -check -recursive

      - name: Run tflint
        run: tflint --module

      - name: Terraform Plan
        id: plan
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: terraform plan -input=false -out=../output/plan.tfplan
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}

      - name: Prepare Artifacts
        shell: bash
        run: |
          cp -r .terraform ../output
          cp -r .terraform.lock.hcl ../output
          cd ../output && tar -czf ../tf-output.tar.gz .
      - name: Upload terraform output
        uses: actions/upload-artifact@v2
        if: ${{ github.event_name == 'workflow_dispatch' }}
        with:
          name: tf-output
          path: ./tf-output.tar.gz
