services:
  {{ nodecast_tv_service_name }}:
    image: {{ nodecast_tv_image }}
    container_name: {{ nodecast_tv_service_name }}
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nodecast.rule=Host(`iptv.{{ main_domain_name }}`)"
      - "traefik.http.routers.nodecast.entryPoints=websecure"
      - "traefik.http.routers.nodecast.tls=true"
      - "traefik.http.routers.nodecast.tls.certresolver={{ traefik_certresolver_name }}"
      - "traefik.http.services.nodecast.loadbalancer.server.port=3000"
    volumes:
      - {{ nodecast_tv_data_directory }}:/app/data
    environment:
      - NODE_ENV=production
      - PORT=3000
    networks:
      - {{ traefik_network_name }}

networks:
  {{ traefik_network_name }}:
    external: true
